<div class='comment-content' id='comment_<%= comment.id %>'>
	<div class='avatar left'>
		<%= image_tag comment.commenter.avatar_url %>
	</div>

	<div class='comment-body'>
		<header><span><%= link_to comment.commenter.name, comment.commenter%></span>   <span><%= "#{time_ago_in_words(comment.created_at)} ago"%></span></header>
		<p>
			<%= comment.body %>
		</p>
		<footer>
			<span><%= link_to 'Reply', '#', id: "reply-link-#{comment.id}", data: {id: comment.id} %></span>
		</footer>
		<ul class='comments replies-wrapper'>
			<% comment.replies.each do |reply| %>
				<li><%= render partial: 'comments/comment', locals: {comment: reply} %></li>
			<% end %>
		</ul>
	</div>
</div>

<script>
	$(document).ready(function(){
		var replyLink = '<%= "#reply-link-#{comment.id}"%>'
		$(replyLink).on('click', function(e){
			e.preventDefault();
			var link = $(e.currentTarget);
			var id = link.data('id');
			var parent = $('#comment_'+id);
			var html = '<%=j render partial: "comments/form", locals: {commentable_type: "Comment", commentable_id: comment.id}%>'
			html = "<div class='reply-wrapper'>"+html+"</div>";
			parent.append(html);
		});
	});
</script>

