<div class='row'>
<%= form_for @post, html: {multipart: true} do |form| %>
	<p>
		<%= form.label :title %>
		<%= form.text_field :title, style: 'width:100%' %>
	</p>

	<p>
		<%= form.label :body %>
		<%= form.cktext_area :body, :ckeditor => {:toolbar => 'inline'} %>

	</p>

	<p>
		<%= form.label :snippet %>
		<%= form.text_field :snippet %>
	</p>

	<p>
		<%= form.label :cover_image %>
		<%= form.file_field :cover_image%>
	</p>
	<%= form.submit %>
<% end %>
</div>