<section class='home-section' style='background:#f8f8f8'>
	<div class='row'>
		<h1><%= @post.title %></h1>
		<p>By <%= link_to @post.author.name, @post.author %></p>
		<div class='post-content'>
			<%= @post.body.html_safe %>
		</div>
		<hr />
		<h6><%= "#{time_ago_in_words(@post.created_at)} ago" %></h6>
		<br />
		<h4><%= "#{@post.comments.count} Comments"%></h4>
		<br />
		<div class='comments-content'>
			<% if current_user %>
				<%= render partial: 'comments/form', locals: {commentable_type: 'Post', commentable_id: @post.id} %>
			<% end %>
			<ul class='comments'>
				<% @post.comments.each do |comment| %>
					<li><%= render partial: 'comments/comment', locals: {comment: comment} %></li>
				<% end %>
			</ul>
		</div>
	</div>
</section>




